<configuration>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        <!--<JsonLayout complete="false"/>--> <!--使用json格式输出-->
    </Console>
    <loggers>
        <AsyncRoot level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="error_info" />
        </AsyncRoot>
    </loggers>
</configuration>